* {
	margin: 0;
	padding: 0.5em;
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: Lucida Console;
	src: url(Lucon.ttf);
	color: white;
	list-style:none;
	letter-spacing: −2em;
}
.form-consulta {
max-width: 100%; margin:0 auto; padding:6em 0 6em 0; 
}
.campo-form {
width:100%; height:2em; margin:2px 0 6px;  box-sizing: border-box; padding:0.5em 0 0 0.5em; color:black; 
}
textarea:focus {
    background-color: #00ff00;
}
label span {
color: #00ff00
}
textarea {
min-height: 10em!important;
}
.btn-form {
display: inline-block; border:0; background: black; height: 4em;  padding: 0 20px; color:#fff;text-transform: uppercase
}
.btn-form:hover {
background: #00ff00
}
body{
padding-top:0;
}
header{
display:block;
margin:auto;
text-align:center;
overflow: auto;
background: black;
height: 100%;
width: 100%;
left: 0;
top: 0;
}
section {
padding:0;
margin: 0;
position: top;
}
header{
padding-top:2e;
}
.logo img{
width:8em;
padding:0;
}
header nav{
	position: fixed;
	top: 0;
	bottom: 0;
	left:-100%;
	width: 100%;
	z-index: 2;
	padding: 3em 1em 3em;
	background: black;
	transition: all 0.75s ease;
	font-size: 1.2em;
	overflow-y: auto;
	display:block;
	overflow:auto;
}
#menu_on{
	display: block;
	position: absolute;
	z-index: 2;
	margin-left:-3em;
}
.visible_menu nav{
	left: 0;
	opacity: 1;
}
.hamburguesa{
display:none;
}
.slider{
padding: 10em 0 10em 0;
}
.slider img{
width:100%;
text-align:center;
}
.banner{
text-align:center;
display:block;
overflow: auto;
margin:0;
}
.banner2 {
text-align:left;
width:100%;
display:block;
overflow:auto;
padding:1em;
}
.bannerimg{
text-align:center;
}
.bannerholi{
padding-top: 4em; 
width:60%; 
margin:0 auto;
text-align:center;
}
.banner2 img{
width:100%;
display:block;
overflow:auto;
text-align: left; 
padding-top: 4em; 
padding-bottom: 4em;
}
.banner2 h2{
padding:0;
}
.banner3{
padding:0;
margin-left:-1.5em;
margin-right:-1em;
}
.banner3 img{
font-size:100%;
width:100%;
margin-right:0em;
display:block;
overflow:auto;
text-align:center;
}
footer {
	display:block;
	overflow:auto;
	text-align:left;
	padding:0;
	margin:0;
}
footer p{
padding:0;
margin:0;
}
footer ul li{
padding:0;
margin:0;
float:left;
}
.redes{
display:block;
overflow:auto;
width:100%;
float:left;
list-style:none;
margin:0;
padding:0;
}
.intro{
text-align:left;
width:100%;
padding:0;
}
.gracias{
text-align:center;
max-width:100%;
}
.gracias img{
width:100%;
padding: 8em 0em 6em 0em;
}
.trabajos{
padding:0;
margin-left:-1.5em;
margin-right:-1em;
}
.trabajos img{
width:100%;
margin-right:0em;
display:block;
overflow:auto;
text-align:center;
}
.banner5{
display:none;
}
@media (min-width: 35em){
header nav ul li a {
	display: block;
}

header img{
	float:center;
}
header nav { 
	float: left;
	height:100%;
	display:block;
	transition: all 0.01s ease;
}
header nav ul {
	overflow: auto;
}
.banner{
	margin:0 auto;
	width: 60%;
}
footer {
display:block;
overflow:auto;
width:100%;
padding: 0.5em 0.5em 0.5em 0;
}
.bajadita{
display:block;
overflow:auto;
width:45%;
float:left;
padding:0.5em 0.5em 0.5em 0.5em;
}
.redes{
display:block;
overflow:auto;
width:45%;
float:right;
padding:0.5em 0 0.5em 0;
list-style:none;
}
.redes ul li {
padding-top:1em;
padding-right:1em;}
}
@media (min-width: 60em) {
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	line-height:120%;
	letter-spacing: -1px;
}
main {
	font-size: 1em;
	line-height: 1.5em;
	padding-top: 60px; 
}
.hamburguesa{
display:none;
}
.bannerholi{
padding-top: 4em; 
width:35%; 
margin:0 auto;
text-align:center;
}
.bannerholix{
width:50%;
margin:0 auto;
padding-bottom:6em;
}
#menu_on{
	display: none;
}

header nav a{
display: none;}
.logo{
width: 15em; 
margin-left: 7em; 
text-align:center;
}
.logo img{
width:8em;
padding-top:0.5em;}
.gracias{
text-align:center;
max-width:50%;
}
.gracias img{
width:100%;
padding: 8em 0em 6em 0em;
}
header{
display:block;
padding-top: 0.5em;
overflow: auto;
background: black;
height: 12.5%;
width: 100%;
position: fixed;
}
header nav{
	top: 0;
	left:17em;
	margin:0 auto;
	height:80px;
	padding:1.5em 0;
	position:fixed;
	bottom: 0;
	width: 80%;
	background: black;
	transition: all 0.0001s ease;
	font-size: 1.2em;
	overflow-y: auto;
}
header nav ul li {
	padding: 0 2.5em 0 1em;
	display:inline-block;
	overflow:auto;
}
header nav ul li:hover{
background: #ff00ff;
}
.slider{
text-align:left;
padding:5em 15em 5em 15em;
}
.slider h1{
text-align: center;
padding-bottom: 3em;
padding-top:3em;
}
.slider img{
width: 80%;
}
.banner1{
	padding:0.5em 6em 0 6em;
	width: 100%;
}
.banner{
width:100%;
height: 40em;
padding:5em;
}
.banner2{
width:31%;
margin:0 1em 0 1em;
display:inline-block;
overflow:auto;
}
.banner2, img{
width:29%;
text-align:left;
}
.banner3{
width:28%;
margin:0 1em 0 1em;
display:inline-block;
overflow:auto;
margin:1em;
}
.banner3, img{
text-align:left;
}
.trabajos{
padding: 0;
margin:0 auto;
width:40%;
}
.trabajos img{
width:100%;
padding:1em 0;
}
.intro{
text-align:left;
width:100%;
padding:2em 0;
}
.banner3:hover{
background: #ff00ff;
}
.form-consulta {
max-width: 39%; margin-left:7em; padding:1em 0 7em 0; display:inline-block; overflow:auto; float:left;
}
.campo-form {
width:100%; height:2em; margin:2px 0 6px;  box-sizing: border-box; padding:0.5em 0 0 0.5em; color:black;
}
label span {
color: #00ff00
}
textarea {
min-height: 10em!important;
}
.banner4{
width:100%;
display:inline-block;
overflow:auto;
float:left;
}
.banner5{
max-width: 50%; margin-right:16em; display:inline-block; overflow:auto; float:right;
}
.banner5 img{
width:100%;
padding: 4em 0;
}
.btn-form {
display: inline-block; border:0; background: black; height: 4em;  padding: 0 20px; color:#fff;text-transform: uppercase;
}
.btn-form:hover {
background: #ff00ff
}
.bajadita{
display:block;
overflow:auto;
width:45%;
float:left;
padding:0.5em 0.5em 0.5em 6em;
}
footer {
	display:block;
	overflow:auto;
	text-align:left;
	padding: 0.5em;
	bottom:0;
}
.redes{
display:block;
overflow:auto;
width:45%;
float:right;
padding:0.5em 0.5em 0.5em 7.3em ;
list-style:none;
}
.redes ul li {
padding-top:1em;
padding-left:1em;
padding-right:1em;}